<!DOCTYPE html>
<html lang="zxx" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Thank You Certificate</title>

    <link rel="stylesheet" href="./css/style.css" />
  </head>

  <body>
    <!-- Certificate Wrap Start here -->

    <div class="certificate-wrap">
      <div class="topheader">
        <div class="left-details">
          <p><b>Registration No.: 420 / Date: 12/12/1991</b></p>
          <p><b>Web: zlzj.org</b></p>
          <p><b>Email: zlzj.pune@gmail.com</b></p>
        </div>
        <div class="right-details">
          <p class="pan"><b>PAN No.: AAATM6029M</b></p>
          <p><b>80G: PN/CIT (Exempt.)/Tech/80G/111/2017-18/1801</b></p>
        </div>
      </div>

      <div class="toplogo">
        <img src="../assets/toplogo.png" alt="toplogo" />
        <div class="info-column">
          <h1 class="india-header">Zade lava Zade Jagva Foundation</h1>
          <p>
            Beside Swaminarayan Temple,Narhe-Ambegaon Hill, Pune,Maharashtra –
            411041
          </p>
        </div>
      </div>
      <div class="certificate-logo">
        <img src="../assets/logo_z.png" alt="Certificate Logo" />
      </div>
      <div class="certificate-header">
        <h1>Thank You</h1>
        <img src="../assets/divider.png" alt="divider-image" />
      </div>
      <!-- Certificate Details Start Here -->
      <div class="certificate-details">
        <p>
          <strong>Received with thanks from Sh./Smt./M/s </strong>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span
            style="
              text-decoration: none;
              border-bottom: 2px dotted;
              display: inline-block;
              width: 300px;
            "
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${name}</span
          >
        </p>
        <p>
          <strong>Address</strong>&nbsp;&nbsp;&nbsp;<span
            style="
              text-decoration: none;
              border-bottom: 2px dotted;
              display: inline-block;
              width: 450px;
            "
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${address}</span
          >
        </p>
        <p>
          <strong>Email</strong> &nbsp;&nbsp;
          <span
            style="
              text-decoration: none;
              border-bottom: 2px dotted;
              display: inline-block;
              width: 300px;
            "
            >&nbsp;${email}</span
          >
          <strong
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mobile</strong
          >
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span
            style="
              text-decoration: none;
              border-bottom: 2px dotted;
              display: inline-block;
              width: 200px;
            "
          >
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${mobile}</span
          >
        </p>
        <p>
          <strong>Donated</strong>

          &nbsp;
          <span
            style="
              text-decoration: none;
              border-bottom: 2px dotted;
              display: inline-block;
              width: 200px;
            "
          >
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;INR ${amount}
          </span>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <strong>on</strong>

          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span
            style="
              text-decoration: none;
              border-bottom: 2px dotted;
              display: inline-block;
              width: 250px;
            "
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${date}</span
          >
        </p>
        <p>
          <strong>PAN No.</strong
          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
            style="
              text-decoration: none;
              border-bottom: 2px dotted;
              display: inline-block;
              width: 220px;
            "
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${pan}</span
          >
        </p>
        <p style="word-spacing: 5px">
          <strong>Cause For Tree Conservation</strong>
        </p>
      </div>
      <!-- Certificate Details End Here -->

      <div class="certificate-foot">
        <div class="amount-box"><span class="rs">₹</span> ${amount}</div>
      </div>

      <!-- Certificate Footer Start Here -->
      <div class="certificate-footer">
        <div>
          <img src="../assets/rsz_sign.png" alt="signature" />
        </div>
        <p>Authorized Signature</p>
      </div>
      <!-- Certificate Footer End Here -->
    </div>
    <!-- Certificate Wrap End here -->
  </body>
</html>
